.post:hover{
    
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
    margin-left: 10%;
    height: 80%;
    display: block;
    justify-content: center;
}
input{
    margin: 10px;
}
div{
    margin-top: 20px;
    display: flex;
    margin-left: 270px;
}
form{
    margin-top: 90px;
}
#line{
    border: 1px solid black;
    width: 200px;
    border-radius: 5px;
}
#line1{
    border: 1px solid black;
    width: 200px;
    height: 23px;
    border-radius: 5px;
}
.line2{
    color: white;
    background-color: blue;
    border-radius: 5px;
    width: 80px;
    height: 23px;
}
.line3{
    border-radius:5px;
    height:23px ;
}
.line4{
    width: 200px;
    border-radius: 5px;
    height: 23px;
}
.line5{
    height: 23px;
    border-radius: 5px;
}