*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    display: flex;
    justify-content: start;
}
.div{
    display: flex;
    justify-content:right;
    margin: auto;
}
li{
    color: white;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}
.abc{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%; 
   
}
.line2{
    border-radius: 30px;
    justify-content: left;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}
img{
    
    border: 4px solid greenyellow;
    border-radius: 200px;
    height: 100px;
    width: 100px;
} 
.container{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}
p{
    float: right;
}
.Search{
    font-size: larger;
    font-style: normal;
    border: 2px solid black;
    float: left;
    margin: 30px;
}
button{
    border: none;
}
button:hover{
    border: 2px solid black;
    background-color: blue;

}
